$font-stack: Georgia, sans-serif;
$primary-color: #333;
$light-color: #bbb;

//body {
//  font: 100% $font-stack;
//  color: $primary-color;
//}

.page {
  margin: 2em auto;
  width: 35em;
  padding: 0.8em;
  background: white;
  font: 100% $font-stack;
  color: $primary-color;
  h1 {
    display: inline;
  }
}

.nav {
  text-align: right;
  font-size: smaller;
}

.debts {
  text-align: center;
}

.expenses {
  text-align: center;
  margin-top: 25px;

  table {
    width: 100%;
  }

  tbody tr:nth-child(odd) {
    background-color: #ddd;
  }

  h2  {
    display: inline;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
  }

  li {
    display: inline;
  }

  .prev_next {
    border: 5px;
    padding: 5px;
    margin: 25px;
  }

}

.footer {
  color: $light-color;
  text-align: right;
}
