{% extends "layout.html" %}
{% block body %}
    <div class="history">
    <ul>
        {% for transaction in received %}
            <li>{{ transaction.date.strftime("%d %m %Y") }}: {{ transaction.amount|round(2) }}€ de
            {{ transaction.giver.username }}
        {% endfor %}
        {% for transaction in given %}
            <li>{{ transaction.date.strftime("%d %m %Y") }}: {{ transaction.amount|round(2) }}€ à
            {{ transaction.receiver.username }}
        {% endfor %}
    </ul>
    </div>
    {% include "transaction_form.html" %}
{% endblock %}
