<!doctype html>
<head>
    <title>{{ config['NAME'] }}</title>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="page">
    <h1>{{ config['NAME'] }}</h1>
    <div class=nav>
        {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">log in</a>
        {% else %}
            loggé sous {{ session.username }} -
            <a href="{{ url_for('logout') }}">log out</a> -
            <a href="{{ url_for('home') }}">mensuel</a> -
            <a href="{{ url_for('history') }}">historique</a>
            </div>
            <div class="debts">
            {% for user in users if not user == me %}
                {% set debt = me.get_debt_with(user) %}
                {% if debt > 0 %}
                    <br>tu dois {{ debt }} € à
                    {{ user.username }}.
                {% elif debt < 0 %}
                    <br>{{ user.username }} te doit
                    {{ -debt }} €
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    <div class="content">
        {% block body %}{% endblock %}
    </div>
    <hr>
    <div class="footer">
        {{ config['NAME'] }} rocks
    </div>
</div>
</body>