{% extends "layout.html" %}
{% block body %}
    <div class="expenses">
        <a href="{{ url_for('show_debts', year=prev_month.year, month=prev_month.month) }}"
           class="prev_next">
            {{ prev_month.strftime('%B %Y') }}
        </a>
        <h2>{{ current.strftime('%B %Y') }}</h2>
        <a href="{{ url_for('show_debts', year=next_month.year, month=next_month.month) }}"
           class="prev_next">
            {{ next_month.strftime('%B %Y') }}
        </a>
        <table>
            <thead>
            <tr>
                <th>jour</th>
                <th>montant</th>
                <th>nom</th>
                <th>payé par</th>
                <th>concerne</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for debt in debts %}
                <tr>
                    <td>{{ debt.date.strftime('%d') }}</td>
                    <td><b>{{ debt.amount }}&thinsp;€</b></td>
                    <td>{{ debt.name }}</td>
                    <td>
                        {% if debt.payed_by == me %}
                            moi
                        {% else %}
                            {{ debt.payed_by.username }}
                        {% endif %}</td>
                    <td>
                        {% for debtor in debt.debtors %}
                            <ul>
                                <li>
                                    {% if debtor == me %}
                                        moi
                                    {% else %}
                                        {{ debtor.username }}
                                    {% endif %}
                                </li>
                            </ul>
                        {% endfor %}
                    </td>
                    <td>
                        {% if debt.payed_by_id ==  session.userid %}
                            <form action="{{ url_for('delete') }}"
                                  method=post
                                  class=add-entry>
                                <input type="hidden" name=id
                                       value={{ debt.id }}>
                                <input type="submit" value="Supprimer">
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <li><br><em>Il n'y rien ce mois-ci.</em>
            {% endfor %}

            <tr>
                <form action="{{ url_for('add') }}" method=post
                      class=add-entry>
                    <input type="hidden" name=month value={{ month }}>
                    <input type="hidden" name=year value={{ year }}>
                    <td>
                        <input type=text size=2 name=day required=""
                               value={{ day }}>
                    </td>
                    <td>
                        <input type=text size=10 name=amount required="">
                    </td>
                    <td><input type=text size=20 name=name required=""></td>
                    <td>moi</td>
                    <td>
                        <select multiple name="debtors" required="">
                            {% for user in users %}
                                <option value={{ user.id }} selected="">
                                {{ user.username if user != me else "moi"}}
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type=submit value=Enregistrer></td>
                </form>
            </tr>

            </tbody>
        </table>
        {{ monthly_price|round(2) }}&thinsp;€ ce mois-ci pour toi
    </div>
    <hr>
    {% include "transaction_form.html" %}
{% endblock %}