    <h2>Recevoir</h2>
    <form action="{{ url_for('receive') }}" method=post
          class=add-entry>
        <input type="hidden" name=year value={{ year }}>
        <input type="hidden" name=month value={{ month }}>
        <dl>
            De qui:

            <select name="giver" required="">
                {% for user in users if user != me %}
                    <option value={{ user.id }}>{{ user.username }}
                {% endfor %}
            </select>
            Combien:
            <input type=text size=20 name=amount required="">
            <input type=submit value=Enregistrer>
        </dl>
    </form>