.page {
  margin: 2em auto;
  width: 35em;
  padding: 0.8em;
  background: white;
  font: 100% Georgia, sans-serif;
  color: #333; }
  .page h1 {
    display: inline; }

.nav {
  text-align: right;
  font-size: smaller; }

  .debts {
    text-align: center; }

    .expenses {
      text-align: center;
      margin-top: 25px; }
      .expenses table {
        width: 100%; }
        .expenses tbody tr:nth-child(odd) {
          background-color: #ddd; }
          .expenses h2 {
            display: inline; }
            .expenses ul {
              margin: 0;
              padding: 0;
              list-style: none;
              display: inline; }
              .expenses li {
                display: inline; }
                .expenses .prev_next {
                  border: 5px;
                  padding: 5px;
                  margin: 25px; }

.footer {
  color: #bbb;
  text-align: right; }
